<% extra_main_classes 'dashboard', 'index-page' %>
<h2 class="index-page--title">Welcome</h2>

<div>
  <h3>Today</h3>
  <div class="entries today">
    <%= render @dashboard.entries_today %>
  </div>
  <h3>Tomorrow</h3>
  <div class="entries tomorrow">
    <%= render @dashboard.entries_tomorrow %>
  </div>
</div>

<ul class="large-block-grid-1">
  <% current_user.schedules.active.each do |schedule| %>
    <li>
      <h3><%= link_to schedule.title, schedule %></h3>
      <p>Race date: <%= schedule.peaks_on.to_s(:long) %></p>
    </li>
  <% end %>
</ul>

<hr />
<%= link_to "Start training", new_schedule_path, class: "small button success round" %>
<%= link_to "Create new training plan", new_training_plan_path, class: "small button round" %>
