<% extra_main_classes 'dashboard', 'index-page' %>
<h2 class="index-page--title">Welcome</h2>

<div>Today
  <hr>
<ul class="">
  <% @dashboard.entries_today.each do |entry| %>
    <li>
      <%= entry.summary %>
      <%= entry.notes %>
    </li>
  <% end %>
  </ul>
</div>

<ul class="large-block-grid-1">
  <% current_user.schedules.active.each do |schedule| %>
    <li>
      <h3><%= link_to schedule.title, schedule %></h3>
      <p>Race date: <%= schedule.peaks_on.to_s(:long) %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Start training", new_schedule_path, class: "small button success round" %>
<%= link_to "Create new training plan", new_training_plan_path, class: "small button round" %>
