<div class="hero">
  <h2 class="hero--intro">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="hero--form-inputs form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="hero--form-actions form-actions">
      <%= f.button :submit, "Go", class: "button success large round hero--action" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
