<h1>Plan a Workout</h1>

<p>Training Plan: <%= @training_plan.title %></p>

<%= simple_form_for @entry, url: [@training_plan, @entry] do |form| %>
  <%= form.input :week, min_max: :lookup %>
  <%= form.input :day, collection: Entry.day_names %>
  <%= form.input :discipline_name, label: 'Discipline' %>
  <%= form.input :distance_unit, label: 'Distance' %>
  <%= form.input :duration_unit, label: 'Duration' %>
  <%= form.input :summary %>
  <%= form.input :notes %>

  <%= form.submit 'Go', class: 'button' %>
<% end %>
