<h1><%= @entry.title %></h1>

<p data-role="discipline"><%= @entry.discipline_name.titleize %></p>
<p data-role="abilities"><%= @entry.combined_ability_names.map(&:titleize).join(', ') %></p>
<p data-role="duration"><%= @entry.duration_for_unit('min') %></p>
<p data-role="distance"><%= @entry.distance_for_unit('mi') %></p>
<p data-role="summary"><%= @entry.summary %></p>
<p data-role="notes"><%= @entry.notes %></p>

<% week = @entry.training_week %>
<p><%= link_to week.title, training_plan_week_path(@training_plan, week) %></p>
<p><%= link_to "Edit workout", [:edit, @training_plan, @entry], class: "button round small" %></p>
