<h1>Schedule</h1>
<h2><%= @schedule.title %></h2>

<p>Training plan <%= link_to @schedule.training_plan.title, @schedule.training_plan %></p>
<p>Starts on <%= l @schedule.starts_on, format: :short %></p>
<p>Peaks on <%= l @schedule.peaks_on, format: :short %></p>
<p>Ends on <%= l @schedule.ends_on, format: :short %></p>

<h5>Overview</h5>
<section class="<%= dom_class(@schedule) %>">
  <% @schedule.weeks.each do |week| %>
    <div class="<%= dom_id(week) %>">
      <%= link_to "#{week.title} : #{l week.starts_on, format: :short}", schedule_week_path(@schedule, week) %>
      <% if week.number == @schedule.peak_week %>
        <p>Race week - <%= @schedule.event.title %></p>
      <% end %>
    </div>
  <% end %>
</section>
