<h1>Schedule</h1>
<h2><%= @schedule.title %></h2>

<p>Training plan <%= @schedule.training_plan.title %></p>
<p>Starts on <%= l @schedule.starts_on, format: :short %></p>
<p>Peaks on <%= l @schedule.peaks_on, format: :short %></p>
<p>Ends on <%= l @schedule.ends_on, format: :short %></p>

<ul>
  <% @schedule.weeks.each do |week| %>
    <li class="week-<%= week.number %>">
      <h5><%= week.title %>: <%= l week.starts_on, format: :short %></h5>
      <% if week.number == @schedule.peak_week %>
        <p>Race week - <%= @schedule.event.title %></p>
      <% end %>
    </li>
  <% end %>
</ul>
