<h1>Training Plan: <%= @training_plan.title %></h1>

<p><%= @training_plan.summary %></p>

<p><%= image_tag attachment_url(@training_plan, :thumbnail, :fill, 300, 300, filename: 'thumbnail.jpg') %></p>

<%= link_to 'Add workout', new_training_plan_entry_path(@training_plan), class: 'button round small' %>

<h5>Overview</h5>
<section class="<%= dom_class(@training_plan) %>">
<% @training_plan.weeks.each do |week| %>
  <div><%= link_to week.title, training_plan_week_path(@training_plan, week) %></div>
<% end %>
</section>
