<div class="hero">
  <h2 class="hero--title">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="hero--form-inputs form-inputs">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="hero--form-actions form-actions">
      <%= f.button :submit, "Go", class: "button success large round hero--action" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
