<section id="<%= dom_id(workout_plan) %>" class="<%= dom_class(workout_plan) %>">
  <h3><%= workout_plan.display_day %></h3>
  <div><i><%= workout_plan.summary %></i></div>
  <div><%= workout_plan.notes %></div>
</section>
