<nav class="top-bar nav-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/" class="nav-bar--title">Pursue</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <% if user_signed_in? %>
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><%= link_to 'Dashboard', dashboard_path %></li>
        <li class="has-dropdown">
          <%= link_to 'Settings', edit_user_registration_path %>
          <ul class="dropdown">
            <li><a href="#">First link in dropdown</a></li>
            <li class="active"><a href="#">Active link in dropdown</a></li>
          </ul>
        </li>
        <li class=""><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class="right">
        <li class=""><%= link_to 'Sign up', new_user_registration_path %></li>
        <li class=""><%= link_to 'Log in', new_user_session_path %></li>
      </ul>
    <% end %>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Discover</a></li>
    </ul>
  </section>
</nav>
